{% extends "base.html" %}

{% block title%}
<h1>
	<span class="fl">首页</span>
    <span class="fr">{{start_time}} - {{end_time}}</span>
</h1>
{% endblock %}

{% block widgetcc %}
<!--
    <script type="text/javascript">
	function fetchbigpic(t){
	    $.get("",function(data){
            $("#bigpic").html(data)
        })
        
    }
    fetchbigpic('h');
-->    
    function goTab(num,tab_num,pre){
	    //for(var i=0;i<tab_num;i++){document.getElementById(pre+"_info_"+i).style.display = "none";}
	    //alert(pre);
	    for(var i=0;i<tab_num;i++){document.getElementById(pre+"_tab_"+i).className = "";}
	    document.getElementById(pre+"_tab_"+num).className = "ta";
	    //document.getElementById(pre+"_info_"+num).style.display = "";
    }
    
   
	</script>
    <div id="timeBar">
		<div id="timeType">
			日周月图切换：	
			<a class="time time_1{% ifequal d 'day'%}_1{%endifequal%}" href="#"></a>
		    <a class="time time_2{% ifequal d 'week'%}_1{%endifequal%}" href="#"></a>
			<a class="time time_3{% ifequal d 'month'%}_1{%endifequal%}" href="#"></a>
		</div>
		<ul class="tab">
			<li id="time_tab_0" class="ta" onclick="goTab(0,2,'time')"><a href="#" onclick="fetchbigpic('h')">###</a></li>
			<li id="time_tab_1" onclick="goTab(1,2,'time')"><a href="#" onclick="fetchbigpic('b')">###</a></li>
		</ul>
		<div class="clearit"></div>
		</div><br />
    
    <div id="bigpic"></div>
    
    <h2>
        <span class="c_tl">&nbsp;</span>
        <span class="fl">详细信息</span>
        <span class="c_tr">&nbsp;</span>
    </h2>
    <div class="rategrid">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="50%"><img src="/static/images/1.png" width="75" height="18" alt="" /><span class="num" id="num1"></span>###</td>
                <td><img src="/static/images/2.png" width="75" height="18" alt="" /><span class="num" id="num2"></span>###</td>
            </tr>
            <tr>
                <td><img src="/static/images/3.png" width="75" height="18" alt="" /><span class="num" id="num3"></span>###</td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
	   $.get("/widget/num3/?sv={{sv}}",function(data){
	       nums = eval(data)
	       $("#num1").html(nums[1])
	       $("#num2").html(nums[2])
	       $("#num3").html(nums[0])
	   })
	</script>

<div class="col fl">
        <h2>
            <span class="c_tl">&nbsp;</span>
            <span class="fl">###</span>
            <span class="c_tr">&nbsp;</span>
        </h2>
        <div class="datagrid">
        <div id="chart1">
            <div id="loading">Loading content, please wait..<img src="/static/images/loading.gif" alt="loading.." /></div>
             
        </div>
        </div>
</div>
<div class="clearit"></div>
<br/>

<div class="col fr">
        <h2>
            <span class="c_tl">&nbsp;</span>
            <span class="fl">###</span>
            <span class="c_tr">&nbsp;</span>
        </h2>
        <div class="datagrid">
        <div id="chart2">
            <div id="loading">Loading content, please wait..<img src="/static/images/loading.gif" alt="loading.." /></div>
             
        </div>
        </div>
</div>
<div class="clearit"></div>
<br/>
	
<div class="col fl">
	<h2>
		<span class="c_tl">&nbsp;</span>
		<span class="fl">评论数量</span>
		<span class="c_tr">&nbsp;</span>
	</h2>
	<div class="datagrid">
	    <table width="100%" cellpadding="0" cellspacing="0">
			<tr>
			 <td id='service_chart'>
			     
			 </td>
			</tr>
			<tr>
				<th colspan="3"><a href="#">查看报告</a></th>
			</tr>
		</table>
	</div>
</div>

<div class="col fr">
	<h2>
		<span class="c_tl">&nbsp;</span>
		<span class="fl">来源分类</span>
		<span class="c_tr">&nbsp;</span>
	</h2>
	<div class="datagrid">
	    <table width="100%" cellpadding="0" cellspacing="0">
			<tr>
			 <td id='host_chart'>
 			     <script type="text/javascript">
              	   $.get("#",function(data){
              	       $("#host_chart").html(data)
              	   })
              	</script>
			 </td>
			</tr>
			<tr>
				<th colspan="3"><a href="#">查看报告</a></th>
			</tr>
		</table>
	</div>
</div>

<div class="clearit"></div><br/>



<h2>
	<span class="c_tl">&nbsp;</span>
	<span class="fl">评论详细信息</span>
	<span class="c_tr">&nbsp;</span>
</h2>
<div class="datagrid" id="table1">


</div>

<div class="clearit"></div><br/>



{% endblock %}
