{% extends "base.html" %}

{% block back_or_exit %}
<li><a href="/widget/">返回</a></li>
{% endblock %}

{% block body %}
<script type="text/javascript" src="/static/js/jquery.js"></script>

<style>
.module {margin-bottom:10px;display:block;width:50%;margin:auto;}
.module p {margin:11px;}
.module h3 {font-size:110%;background:#E5ECF9;font-weight:bold;padding:5px 11px;height:17px;}
.module h3 sup {font-size:80%;font-weight:normal;color:red;line-height: 0;}
.module .info {margin-right:none;}
.featured-gadget-title {margin-left:11px;margin-top:5px;margin-bottom:7px;}
.headlink {font-size:100%;font-weight:bold;}
.featured-author {font-size:85%;color:#666;margin-top:0px;margin-bottom:5px;margin-left:11px;}
.featured-author img.photo {border:none;}
</style>

<div class="module" id="featured">
	<h3><span style="float:left">全部组件</span><span style="clear:both"><!-- --></span>
	</h3>
	{% for w in widgets.object_list %}
	<div class="featured-gadget-title">
		<a id="title_featured" class="headlink" name="a443" href="http://mc.intra.sina.com.cn">{{w.name}}</a>
	</div>
	<div class="featured-author">By&nbsp;Sina.com.cn
	</div>
	<p style="margin-top:0;margin-bottom:0">{{w.desc}}</p>
	<div style="text-align:center">
		<a href="#"><img src="/static/img/widget_sample.png" width="120px" height="60px" class="featured-thumb" alt="{{w.name}}" /></a>
	</div>
	<div style="text-align:center">
		<input type="button" value="添加" class="addbtn" wid={{w.id}} />
	</div>
	<hr/>
	{% endfor %}
	<div class="pagination">
	    <span class="step-links">
	        {% if widgets.has_previous %}
	            <a href="?page={{ widgets.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ widgets.number }} of {{ widgets.paginator.num_pages }}.
	        </span>

	        {% if contacts.has_next %}
	            <a href="?page={{ widgets.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
$(".addbtn").live("click",function(){
	var wid = $(this).attr("wid")
	$.post("/widget/add/",{wid:wid},
		function(data){
			alert(data)
	})
})
</script>
{% endblock %}

{% block js %}
{% endblock %}