/* Platform Template CSS
 * yumin@staff
 * 2009-10-14
 * For IE6/IE7/FF3/OP9/GC3
 */

/* CSS Reset */
*{margin:0;padding:0}
body{
    font-size:12px;font-family:Arial,Tahoma,"宋体";color:#000;margin:10px 0;
    /*background:#EDF0F4 url(/static/images/logo.jpeg);*/
    repeat-x;text-align:center}
br{line-height:10px}
ul,li{list-style:none}
ul,p,ol{line-height:20px}
select,input{font-size:12px;vertical-align:middle}
h1{height:80px;font-size:24px}
img{border:0}
a:link,a:visited{color:#000;text-decoration:none;outline:0}
a:hover,a:active{text-decoration:underline}

/* 浮动 */
.fl{float:left}
.fr{float:right}

/* 清除浮动 */
.clearit{height:0;font-size:0;line-height:0;clear:both}
.spacer{height:1px;font-size:0;line-height:0;clear:both;border-top:1px solid #D3D4D5}

/* 框架 */
#wrap{width:97.5%;min-width:960px;margin:0 auto;text-align:left}

/* 头部 */
#logo{width:100px;height:40px;background:url(/static/images/logo.jpeg) no-repeat;
float:left;display:block}
#user{float:right}
#user a{color:#005C9C}
#nav{height:24px;font-weight:bold;color:#FFF;margin:2px 0 12px;background:#FF6D06}
#nav a{color:#FFF}
#nav form{margin:2px 5px 0;float:left}
#nav .fl{width:2px;height:24px;background:url(/static/images/nav.gif) no-repeat}
#nav .fr{width:2px;height:24px;background:url(/static/images/nav.gif) no-repeat right top}

/* 边栏 */
#sidebar{width:20%;float:left}
#sidebar li{line-height:23px;margin:0 5px}
#sidebar li a{width:86%;line-height:20px;padding-left:23px;display:block}
#sidebar li.ta > a{font-weight:bold;color:#FFF;background-color:#696969}
#sidebar li ul{padding:0 0 0 12px;display:block;overflow:hidden}
#sidebar li li{margin:0}
#sidebar li li a{padding-left:18px}
#sidebar li li.ta{background:#696969}
#sidebar li li.ta a{font-weight:bold;color:#FFF}

/* 一般图标 */
.ico_1{background:url(/static/images/ico_1.gif) no-repeat}
.ico_2{background:url(/static/images/ico_2.gif) no-repeat}
.ico_3{background:url(/static/images/ico_3.gif) no-repeat}
.ico_4{background:url(/static/images/ico_4.gif) no-repeat}
.ico_5{background:url(/static/images/ico_5.gif) no-repeat}
.ico_6{background:url(/static/images/ico_6.gif) no-repeat}
.ico_7{background:url(/static/images/ico_7.gif) no-repeat}

/* 时间图标 */
#timeBar{position:relative}
#timeType{font:bold 12px/23px Arial;color:#AAA;position:absolute;top:-6px;right:0}
.time{width:25px;height:21px;display:inline-block;vertical-align:middle}
.time_1{background:url(/static/images/time_1.gif) no-repeat}
.time_1:hover{background:url(/static/images/time_1_hover.gif) no-repeat}
.time_1_1{background:url(/static/images/time_1_1.gif) no-repeat}
.time_2{background:url(/static/images/time_2.gif) no-repeat}
.time_2:hover{background:url(/static/images/time_2_hover.gif) no-repeat}
.time_2_1{background:url(/static/images/time_2_1.gif) no-repeat}
.time_3{background:url(/static/images/time_3.gif) no-repeat}
.time_3:hover{background:url(/static/images/time_3_hover.gif) no-repeat}
.time_3_1{background:url(/static/images/time_3_1.gif) no-repeat}

/*_内容框_*/
.info{padding:3px 10px;border-left:1px solid #D3D4D5;border-right:1px solid #D3D4D5}
.info > strong{margin-left:12px}
#main h1 .fr{font-size:18px}
#main h1 .fl{font-size:18px}
#main h1{height:30px}

/* 圆角 */
.c_t,.c_b{height:3px}
.c_tl,.c_bl{width:3px;height:3px;float:left}
.c_tr,.c_br{width:3px;height:3px;float:right}
.c_t{background:url(/static/images/corner_t.gif) repeat-x}
.c_b{background:url(/static/images/corner_b.gif) repeat-x}
.c_tl{background:url(/static/images/corner_tl.gif) no-repeat}
.c_tr{background:url(/static/images/corner_tr.gif) no-repeat}
.c_bl{background:url(/static/images/corner_bl.gif) no-repeat}
.c_br{background:url(/static/images/corner_br.gif) no-repeat}

.box .info,.box .c_t,.box .c_b{background-color:#FFF}
.box2 .info,.box2 .c_t,.box2 .c_b{background-color:#EEE}

/* 正文区 */
#main{width:78.8%;float:right}
#main a:link,#main a:visited{color:#005C9C}

h2{height:28px;font:bold 15px/28px Arial;color:#FFF;background:#666}
h2 .c_tl{height:28px;background:url(/static/images/h2_corner.gif) no-repeat;float:left}
h2 .c_tr{height:28px;background:url(/static/images/h2_corner.gif) no-repeat right top;float:right}
h2 span.fl{padding-left:20px;background:url(/static/images/h2.gif) no-repeat 8px center}
h2 a.fr{width:10px;height:10px;margin:8px 5px 0;background:url(/static/images/close.gif) no-repeat center;display:block}

/*_主标签_*/ 
ul.tab{height:19px;clear:both;border-bottom:1px solid #AAA} 
ul.tab li{width:90px;line-height:19px;margin:1px 0 0 5px;padding:0;background:url(../images/tab.gif) no-repeat;text-align:center;float:left;cursor:pointer} 
ul.tab li a{width:100%;color:#333!important;display:inline-block;text-decoration:none} 
ul.tab li.ta{font-weight:bold;color:#333;background:url(../images/tab.gif) no-repeat left bottom} 
ul.tab li.ta a{color:#000!important} 

/*_导出_*/ 
#ex a{line-height:19px;color:#333!important;text-align:center;text-decoration:none} 
#ex blockquote{margin-top:-1px;padding:8px;background:#FFF;border:1px solid #AAA} 
.a_btn_1,.a_btn_1_1{width:47px;margin-right:5px;padding-right:6px;background:url(../images/a_btn_1.gif) no-repeat;float:left} 
.a_btn_1_1{background:url(../images/a_btn_1_1.gif) no-repeat} 
.a_btn_1:hover{background:url(../images/a_btn_1_hover.gif) no-repeat} 
.a_btn_2{width:62px;padding-left:18px;background:url(../images/a_btn_2.gif) no-repeat;float:left} 
.a_btn_2:hover{background:url(../images/a_btn_2_hover.gif) no-repeat} 
.a_btn_3{width:91px;padding-right:10px;background:url(../images/a_btn_3.gif) no-repeat;float:right} 
.a_btn_3_1{background:url(../images/a_btn_3_1.gif) no-repeat} 
.a_btn_3:hover{background:url(../images/a_btn_3_hover.gif) no-repeat}

/*_分栏_*/
.col{width:49%}

/*_数据表_*/
.datagrid{border-left:1px solid #DDD;border-right:1px solid #DDD;}
.datagrid table{height:23px;line-height:23px;}
.datagrid th,.datagrid td{font-weight:normal;text-indent:8px;border-bottom:1px solid #BBB;text-align:left;}
.datagrid th{height:28px;font:bold 14px/28px Arial;background:#E5E5E5}
.datagrid td{background:#FFF}

/* 站点信息 */
#footer{height:28px;margin-top:10px;padding-top:10px;border-top:1px dotted #999;text-align:center}
#footer a{color:#005C9C}

/*_统计表_*/  
.rategrid td{height:38px;font:bold 15px/38px Arial;text-indent:5px;background:#FFF}  
.rategrid span.num{font-size:20px;padding:0 8px}  
.rategrid img{vertical-align:middle}  
.rategrid a:hover img{padding:5px 3px;border:1px solid #E6E6E6;border-right:2px solid #B5B5B5;border-bottom:2px solid #B5B5B5;cursor:pointer}
